{
  "extends": "airbnb",
  "globals": {
    "before": false,
    "after": false,
    "describe": false,
    "afterEach": false,
    "expect": false,
    "it": false
  },
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": "off",
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["acc"] }]
  }
}
